@tailwind base;
@tailwind components;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html.web-report,
body.web-report {
    height: auto;
    min-height: 100%;
    overflow: auto;
}

body.web-report #root {
    min-height: 100%;
    height: auto;
    overflow: visible;
}

.drag-region {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
